function Game.new 1
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 7
push constant 6
pop this 1
push this 1
call Array.new 1
pop this 0
push constant 0
pop local 0
label Game_new_WHILE_EXP_L2
push local 0
push this 1
lt
not
if-goto Game_new_WHILE_END_L2
push local 0
push this 0
add
push constant 0
call Sprite.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto Game_new_WHILE_EXP_L2
label Game_new_WHILE_END_L2
push this 1
push constant 1
sub
pop this 2
push constant 0
pop this 4
push constant 3
pop this 3
push constant 3
pop this 6
push constant 2
pop this 5
push pointer 0
call Game.init 1
pop temp 0
push constant 2
push constant 2
call Output.moveCursor 2
pop temp 0
push constant 2
call String.staticGet 1
call Output.printString 1
pop temp 0
push constant 3
push constant 2
call Output.moveCursor 2
pop temp 0
push constant 3
call String.staticGet 1
call Output.printString 1
pop temp 0
push pointer 0
return
function Game.run 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label Game_run_WHILE_EXP_L4
push local 0
not
not
if-goto Game_run_WHILE_END_L4
call Keyboard.keyPressed 0
push constant 81
eq
if-goto Game_run_IF_TRUE_L2
goto Game_run_IF_FALSE_L2
label Game_run_IF_TRUE_L2
push constant 0
not
pop local 0
label Game_run_IF_FALSE_L2
push pointer 0
call Game.frame 1
pop temp 0
push constant 5
call Sys.wait 1
pop temp 0
goto Game_run_WHILE_EXP_L4
label Game_run_WHILE_END_L4
push constant 0
return
function Game.frame 0
push argument 0
pop pointer 0
push pointer 0
call Game.clear 1
pop temp 0
push pointer 0
call Game.update 1
pop temp 0
push pointer 0
call Game.draw 1
pop temp 0
push constant 0
return
function Game.init 0
push argument 0
pop pointer 0
push pointer 0
call Game.carInit 1
pop temp 0
push pointer 0
call Game.linesInit 1
pop temp 0
push pointer 0
call Game.obstaclesInit 1
pop temp 0
push constant 0
return
function Game.clear 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label Game_clear_WHILE_EXP_L6
push local 0
push this 1
lt
not
if-goto Game_clear_WHILE_END_L6
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Sprite.clear 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Game_clear_WHILE_EXP_L6
label Game_clear_WHILE_END_L6
push constant 0
return
function Game.update 2
push argument 0
pop pointer 0
push pointer 0
call Game.carUpdate 1
pop temp 0
push pointer 0
call Game.linesUpdate 1
pop temp 0
push pointer 0
call Game.obstaclesUpdate 1
pop temp 0
push constant 0
pop local 0
label Game_update_WHILE_EXP_L8
push local 0
push this 1
lt
not
if-goto Game_update_WHILE_END_L8
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Sprite.update 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Game_update_WHILE_EXP_L8
label Game_update_WHILE_END_L8
push constant 0
return
function Game.draw 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label Game_draw_WHILE_EXP_L10
push local 0
push this 1
lt
not
if-goto Game_draw_WHILE_END_L10
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Sprite.draw 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Game_draw_WHILE_EXP_L10
label Game_draw_WHILE_END_L10
push constant 0
return
function Game.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label Game_dispose_WHILE_EXP_L12
push local 0
push this 1
lt
not
if-goto Game_dispose_WHILE_END_L12
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Sprite.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Game_dispose_WHILE_EXP_L12
label Game_dispose_WHILE_END_L12
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.carInit 1
push argument 0
pop pointer 0
push this 2
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
push constant 0
call Sprite.setType 2
pop temp 0
push local 0
push constant 256
push constant 8
sub
push constant 256
push constant 64
sub
call Sprite.setXY 3
pop temp 0
push local 0
push constant 64
call Sprite.setCenterX 2
pop temp 0
push constant 0
return
function Game.carUpdate 5
push argument 0
pop pointer 0
push this 2
push this 0
add
pop pointer 1
push that 0
pop local 2
push constant 0
pop local 0
call Keyboard.keyPressed 0
pop local 4
push local 4
push constant 130
eq
if-goto Game_carUpdate_IF_TRUE_L6
goto Game_carUpdate_IF_FALSE_L6
label Game_carUpdate_IF_TRUE_L6
push local 0
push constant 2
sub
pop local 0
label Game_carUpdate_IF_FALSE_L6
push local 4
push constant 132
eq
if-goto Game_carUpdate_IF_TRUE_L7
goto Game_carUpdate_IF_FALSE_L7
label Game_carUpdate_IF_TRUE_L7
push local 0
push constant 2
add
pop local 0
label Game_carUpdate_IF_FALSE_L7
push local 2
push local 0
call Sprite.setVelocityX 2
pop temp 0
push constant 0
pop local 1
label Game_carUpdate_WHILE_EXP_L14
push local 1
push this 5
lt
not
if-goto Game_carUpdate_WHILE_END_L14
push this 6
push local 1
add
push this 0
add
pop pointer 1
push that 0
pop local 3
push local 3
push local 2
call Sprite.touching 2
if-goto Game_carUpdate_IF_TRUE_L8
goto Game_carUpdate_IF_FALSE_L8
label Game_carUpdate_IF_TRUE_L8
push this 7
push constant 1
add
pop this 7
push pointer 0
call Game.init 1
pop temp 0
push constant 0
return
label Game_carUpdate_IF_FALSE_L8
push local 1
push constant 1
add
pop local 1
goto Game_carUpdate_WHILE_EXP_L14
label Game_carUpdate_WHILE_END_L14
push constant 0
return
function Game.linesInit 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label Game_linesInit_WHILE_EXP_L16
push local 0
push this 3
lt
not
if-goto Game_linesInit_WHILE_END_L16
push this 4
push local 0
add
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 1
call Sprite.setType 2
pop temp 0
push local 1
push constant 256
push constant 8
sub
push local 0
push constant 64
call Math.multiply 2
push constant 32
add
call Sprite.setXY 3
pop temp 0
push local 1
push constant 0
push constant 2
call Sprite.setVelocity 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Game_linesInit_WHILE_EXP_L16
label Game_linesInit_WHILE_END_L16
push constant 0
return
function Game.linesUpdate 3
push argument 0
pop pointer 0
push constant 0
pop local 1
label Game_linesUpdate_WHILE_EXP_L18
push local 1
push this 3
lt
not
if-goto Game_linesUpdate_WHILE_END_L18
push this 4
push local 1
add
push this 0
add
pop pointer 1
push that 0
pop local 2
push local 2
call Sprite.getY 1
pop local 0
push local 0
push constant 256
push constant 17
sub
gt
if-goto Game_linesUpdate_IF_TRUE_L10
goto Game_linesUpdate_IF_FALSE_L10
label Game_linesUpdate_IF_TRUE_L10
push local 2
push constant 32
call Sprite.setY 2
pop temp 0
label Game_linesUpdate_IF_FALSE_L10
push local 1
push constant 1
add
pop local 1
goto Game_linesUpdate_WHILE_EXP_L18
label Game_linesUpdate_WHILE_END_L18
push constant 0
return
function Game.obstaclesInit 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label Game_obstaclesInit_WHILE_EXP_L20
push local 0
push this 5
lt
not
if-goto Game_obstaclesInit_WHILE_END_L20
push this 6
push local 0
add
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 256
push constant 32
sub
push constant 16
sub
push constant 64
push local 0
call Math.multiply 2
add
push constant 64
push local 0
call Math.multiply 2
call Sprite.setXY 3
pop temp 0
push local 1
push constant 0
push constant 2
call Sprite.setVelocity 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto Game_obstaclesInit_WHILE_EXP_L20
label Game_obstaclesInit_WHILE_END_L20
push this 6
push constant 0
add
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 2
call Sprite.setType 2
pop temp 0
push this 6
push constant 1
add
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 0
call Sprite.setType 2
pop temp 0
push constant 0
return
function Game.obstaclesUpdate 4
push argument 0
pop pointer 0
push constant 0
pop local 0
label Game_obstaclesUpdate_WHILE_EXP_L22
push local 0
push this 5
lt
not
if-goto Game_obstaclesUpdate_WHILE_END_L22
push this 6
push local 0
add
push this 0
add
pop pointer 1
push that 0
pop local 3
push local 3
call Sprite.getY 1
pop local 1
push local 1
push constant 256
push constant 17
sub
gt
if-goto Game_obstaclesUpdate_IF_TRUE_L13
goto Game_obstaclesUpdate_IF_FALSE_L13
label Game_obstaclesUpdate_IF_TRUE_L13
push local 3
call Sprite.getX 1
push constant 32
add
pop local 2
push local 2
push constant 64
push constant 16
sub
push constant 256
add
gt
if-goto Game_obstaclesUpdate_IF_TRUE_L14
goto Game_obstaclesUpdate_IF_FALSE_L14
label Game_obstaclesUpdate_IF_TRUE_L14
push constant 256
push constant 64
sub
pop local 2
label Game_obstaclesUpdate_IF_FALSE_L14
push local 3
push local 2
push constant 32
call Sprite.setXY 3
pop temp 0
label Game_obstaclesUpdate_IF_FALSE_L13
push local 0
push constant 1
add
pop local 0
goto Game_obstaclesUpdate_WHILE_EXP_L22
label Game_obstaclesUpdate_WHILE_END_L22
push constant 0
return
