function Sprite.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 2
push constant 0
pop this 0
push constant 0
pop this 1
push constant 1
neg
pop this 5
push constant 1
neg
pop this 6
push constant 1
neg
pop this 7
push pointer 0
return
function Sprite.clamp 0
push argument 0
pop pointer 0
push pointer 0
call Sprite.clampX 1
pop temp 0
push pointer 0
call Sprite.clampY 1
pop temp 0
push constant 0
return
function Sprite.clampX 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 512
push constant 16
sub
pop local 1
push this 6
push constant 1
neg
gt
if-goto Sprite_clampX_IF_TRUE_L4
goto Sprite_clampX_IF_FALSE_L4
label Sprite_clampX_IF_TRUE_L4
push constant 256
push this 6
sub
pop local 0
push constant 256
push this 6
add
push constant 16
sub
pop local 1
label Sprite_clampX_IF_FALSE_L4
push this 0
push local 0
lt
if-goto Sprite_clampX_IF_TRUE_L5
goto Sprite_clampX_IF_FALSE_L5
label Sprite_clampX_IF_TRUE_L5
push local 0
pop this 0
label Sprite_clampX_IF_FALSE_L5
push this 0
push local 1
gt
if-goto Sprite_clampX_IF_TRUE_L6
goto Sprite_clampX_IF_FALSE_L6
label Sprite_clampX_IF_TRUE_L6
push local 1
pop this 0
label Sprite_clampX_IF_FALSE_L6
push constant 0
return
function Sprite.clampY 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 256
push constant 16
sub
pop local 1
push this 7
push constant 1
neg
gt
if-goto Sprite_clampY_IF_TRUE_L10
goto Sprite_clampY_IF_FALSE_L10
label Sprite_clampY_IF_TRUE_L10
push constant 128
push this 7
sub
pop local 0
push constant 128
push this 7
add
push constant 16
sub
pop local 1
label Sprite_clampY_IF_FALSE_L10
push this 1
push local 0
lt
if-goto Sprite_clampY_IF_TRUE_L11
goto Sprite_clampY_IF_FALSE_L11
label Sprite_clampY_IF_TRUE_L11
push local 0
pop this 1
label Sprite_clampY_IF_FALSE_L11
push this 1
push local 1
gt
if-goto Sprite_clampY_IF_TRUE_L12
goto Sprite_clampY_IF_FALSE_L12
label Sprite_clampY_IF_TRUE_L12
push local 1
pop this 1
label Sprite_clampY_IF_FALSE_L12
push constant 0
return
function Sprite.setType 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Sprite.setCenterX 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function Sprite.setCenterY 0
push argument 0
pop pointer 0
push argument 1
pop this 7
push constant 0
return
function Sprite.getX 0
push argument 0
pop pointer 0
push this 0
return
function Sprite.getY 0
push argument 0
pop pointer 0
push this 1
return
function Sprite.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push pointer 0
call Sprite.clampX 1
pop temp 0
push constant 0
return
function Sprite.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push pointer 0
call Sprite.clampY 1
pop temp 0
push constant 0
return
function Sprite.setXY 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push pointer 0
call Sprite.clamp 1
pop temp 0
push constant 0
return
function Sprite.setVelocity 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push argument 2
pop this 4
push constant 0
return
function Sprite.setVelocityX 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Sprite.getVelocityX 0
push argument 0
pop pointer 0
push this 3
return
function Sprite.setVelocityY 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Sprite.getVelocityY 0
push argument 0
pop pointer 0
push this 4
return
function Sprite.setVisible 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push this 5
if-goto Sprite_setVisible_IF_TRUE_L14
goto Sprite_setVisible_IF_FALSE_L14
label Sprite_setVisible_IF_TRUE_L14
push constant 1
neg
pop this 5
label Sprite_setVisible_IF_FALSE_L14
push constant 0
return
function Sprite.getVisible 0
push argument 0
pop pointer 0
push this 5
return
function Sprite.touching 3
push argument 0
pop pointer 0
push pointer 0
call Sprite.getVisible 1
pop local 2
push local 2
not
if-goto Sprite_touching_IF_TRUE_L21
goto Sprite_touching_IF_FALSE_L21
label Sprite_touching_IF_TRUE_L21
push constant 0
return
label Sprite_touching_IF_FALSE_L21
push argument 1
call Sprite.getVisible 1
pop local 2
push local 2
not
if-goto Sprite_touching_IF_TRUE_L22
goto Sprite_touching_IF_FALSE_L22
label Sprite_touching_IF_TRUE_L22
push constant 0
return
label Sprite_touching_IF_FALSE_L22
push this 0
push argument 1
call Sprite.getX 1
sub
pop local 0
push local 0
push constant 0
lt
if-goto Sprite_touching_IF_TRUE_L23
goto Sprite_touching_IF_FALSE_L23
label Sprite_touching_IF_TRUE_L23
push local 0
push constant 1
neg
call Math.multiply 2
pop local 0
label Sprite_touching_IF_FALSE_L23
push local 0
push constant 14
gt
if-goto Sprite_touching_IF_TRUE_L24
goto Sprite_touching_IF_FALSE_L24
label Sprite_touching_IF_TRUE_L24
push constant 0
return
label Sprite_touching_IF_FALSE_L24
push this 1
push argument 1
call Sprite.getY 1
sub
pop local 1
push local 1
push constant 0
lt
if-goto Sprite_touching_IF_TRUE_L25
goto Sprite_touching_IF_FALSE_L25
label Sprite_touching_IF_TRUE_L25
push local 1
push constant 1
neg
call Math.multiply 2
pop local 1
label Sprite_touching_IF_FALSE_L25
push local 1
push constant 14
gt
if-goto Sprite_touching_IF_TRUE_L26
goto Sprite_touching_IF_FALSE_L26
label Sprite_touching_IF_TRUE_L26
push constant 0
return
label Sprite_touching_IF_FALSE_L26
push constant 1
neg
return
function Sprite.moveX 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
pop this 0
push pointer 0
call Sprite.clampX 1
pop temp 0
push constant 0
return
function Sprite.moveY 0
push argument 0
pop pointer 0
push this 1
push argument 1
add
pop this 1
push pointer 0
call Sprite.clampY 1
pop temp 0
push constant 0
return
function Sprite.update 0
push argument 0
pop pointer 0
push this 3
push constant 0
eq
not
if-goto Sprite_update_IF_TRUE_L29
goto Sprite_update_IF_FALSE_L29
label Sprite_update_IF_TRUE_L29
push pointer 0
push this 3
call Sprite.moveX 2
pop temp 0
label Sprite_update_IF_FALSE_L29
push this 4
push constant 0
eq
not
if-goto Sprite_update_IF_TRUE_L30
goto Sprite_update_IF_FALSE_L30
label Sprite_update_IF_TRUE_L30
push pointer 0
push this 4
call Sprite.moveY 2
pop temp 0
label Sprite_update_IF_FALSE_L30
push constant 0
return
function Sprite.draw 0
push argument 0
pop pointer 0
push this 5
not
if-goto Sprite_draw_IF_TRUE_L35
goto Sprite_draw_IF_FALSE_L35
label Sprite_draw_IF_TRUE_L35
push constant 0
return
label Sprite_draw_IF_FALSE_L35
push this 2
push constant 0
eq
if-goto Sprite_draw_IF_TRUE_L36
goto Sprite_draw_IF_FALSE_L36
label Sprite_draw_IF_TRUE_L36
push this 0
push this 1
call SpriteLib.drawCar 2
pop temp 0
label Sprite_draw_IF_FALSE_L36
push this 2
push constant 1
eq
if-goto Sprite_draw_IF_TRUE_L37
goto Sprite_draw_IF_FALSE_L37
label Sprite_draw_IF_TRUE_L37
push this 0
push this 1
call SpriteLib.drawLine 2
pop temp 0
label Sprite_draw_IF_FALSE_L37
push this 2
push constant 2
eq
if-goto Sprite_draw_IF_TRUE_L38
goto Sprite_draw_IF_FALSE_L38
label Sprite_draw_IF_TRUE_L38
push this 0
push this 1
call SpriteLib.drawOilSlick 2
pop temp 0
label Sprite_draw_IF_FALSE_L38
push constant 0
return
function Sprite.clear 0
push argument 0
pop pointer 0
push this 5
not
if-goto Sprite_clear_IF_TRUE_L40
goto Sprite_clear_IF_FALSE_L40
label Sprite_clear_IF_TRUE_L40
push constant 0
return
label Sprite_clear_IF_FALSE_L40
push this 0
push this 1
call SpriteLib.clear 2
pop temp 0
push constant 0
return
function Sprite.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
