function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 2
push constant 0
pop this 1
push constant 0
pop this 0
push this 2
push constant 0
gt
if-goto String_new_IF_TRUE_L2
goto String_new_IF_FALSE_L2
label String_new_IF_TRUE_L2
push this 2
call Array.new 1
pop this 0
label String_new_IF_FALSE_L2
push pointer 0
return
function String.staticAlloc 0
push argument 0
call Array.new 1
pop static 0
push constant 0
return
function String.staticSet 0
push argument 1
push static 0
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function String.staticGet 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
not
if-goto String_dispose_IF_TRUE_L4
goto String_dispose_IF_FALSE_L4
label String_dispose_IF_TRUE_L4
push this 0
call Memory.deAlloc 1
pop temp 0
push constant 0
pop this 0
label String_dispose_IF_FALSE_L4
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 1
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push constant 1
neg
gt
push argument 1
push this 1
lt
and
if-goto String_charAt_IF_TRUE_L6
goto String_charAt_IF_FALSE_L6
label String_charAt_IF_TRUE_L6
push argument 1
push this 0
add
pop pointer 1
push that 0
return
label String_charAt_IF_FALSE_L6
push constant 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push constant 1
neg
gt
push argument 1
push this 1
lt
and
if-goto String_setCharAt_IF_TRUE_L8
goto String_setCharAt_IF_FALSE_L8
label String_setCharAt_IF_TRUE_L8
push argument 1
push this 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label String_setCharAt_IF_FALSE_L8
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 1
push this 2
lt
if-goto String_appendChar_IF_TRUE_L10
goto String_appendChar_IF_FALSE_L10
label String_appendChar_IF_TRUE_L10
push this 1
push this 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
label String_appendChar_IF_FALSE_L10
push pointer 0
return
function String.append 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push argument 1
call String.length 1
pop local 1
label String_append_WHILE_EXP_L2
push this 1
push this 2
lt
push local 0
push local 1
lt
and
not
if-goto String_append_WHILE_END_L2
push this 1
push this 0
add
push argument 1
push local 0
call String.charAt 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1
push constant 1
add
pop this 1
push local 0
push constant 1
add
pop local 0
goto String_append_WHILE_EXP_L2
label String_append_WHILE_END_L2
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 1
push constant 0
gt
if-goto String_eraseLastChar_IF_TRUE_L12
goto String_eraseLastChar_IF_FALSE_L12
label String_eraseLastChar_IF_TRUE_L12
push this 1
push constant 1
sub
pop this 1
label String_eraseLastChar_IF_FALSE_L12
push constant 0
return
function String.intValue 4
push argument 0
pop pointer 0
push this 1
push constant 1
sub
pop local 0
push constant 0
pop local 1
push constant 1
pop local 2
label String_intValue_WHILE_EXP_L4
push local 0
push constant 1
neg
gt
not
if-goto String_intValue_WHILE_END_L4
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 3
push local 3
push constant 45
eq
if-goto String_intValue_IF_TRUE_L15
goto String_intValue_IF_FALSE_L15
label String_intValue_IF_TRUE_L15
push local 1
neg
pop local 1
push local 1
return
label String_intValue_IF_FALSE_L15
push local 3
push constant 48
lt
push local 3
push constant 57
gt
or
if-goto String_intValue_IF_TRUE_L16
goto String_intValue_IF_FALSE_L16
label String_intValue_IF_TRUE_L16
push local 1
return
label String_intValue_IF_FALSE_L16
push local 1
push local 2
push local 3
push constant 48
sub
call Math.multiply 2
add
pop local 1
push local 0
push constant 1
sub
pop local 0
push local 2
push constant 10
call Math.multiply 2
pop local 2
goto String_intValue_WHILE_EXP_L4
label String_intValue_WHILE_END_L4
push local 1
return
function String.setInt 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 0
pop this 1
push argument 1
push constant 0
lt
if-goto String_setInt_IF_TRUE_L20
goto String_setInt_IF_FALSE_L20
label String_setInt_IF_TRUE_L20
push argument 1
neg
pop argument 1
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
label String_setInt_IF_FALSE_L20
push constant 10000
pop local 1
label String_setInt_WHILE_EXP_L6
push local 1
push constant 0
gt
not
if-goto String_setInt_WHILE_END_L6
push argument 1
push local 1
call Math.divide 2
pop local 0
push local 0
push constant 0
gt
push local 2
or
if-goto String_setInt_IF_TRUE_L21
goto String_setInt_IF_FALSE_L21
label String_setInt_IF_TRUE_L21
push constant 0
not
pop local 2
push pointer 0
push constant 48
push local 0
add
call String.appendChar 2
pop temp 0
push argument 1
push local 0
push local 1
call Math.multiply 2
sub
pop argument 1
label String_setInt_IF_FALSE_L21
push local 1
push constant 1
eq
if-goto String_setInt_IF_TRUE_L22
goto String_setInt_IF_FALSE_L22
label String_setInt_IF_TRUE_L22
push constant 0
pop local 1
goto String_setInt_IF_END_L2
label String_setInt_IF_FALSE_L22
push local 1
push constant 10
call Math.divide 2
pop local 1
label String_setInt_IF_END_L2
goto String_setInt_WHILE_EXP_L6
label String_setInt_WHILE_END_L6
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
